---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<style>
  img.rewardme {
    width: 200px;
}
</style>
<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/austinit" target="_blank"> Twitter</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header"> 关于我 </h2>
        <p>一名独立开发者，关注开发、AI、读书和赚钱的东西。</p>
      </div>
    </div>
  </section>
</BaseLayout>
