---
import { formatDateV2 } from "../utils";
const { posts, tag } = Astro.props;

if (tag === "数据结构") {
  posts.sort((b, a) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
} else {
  posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
}

---

<ul>
  {
    posts.map((post) => {
      return (
        <li>
          <a href={post.url} class="tag_post-content">
            <span class="tag-date">[{formatDateV2(post.frontmatter.pubDate)}]</span>
            {post.frontmatter.title}
          </a>
        </li>
      );
    })
  }
</ul>
